@model IEnumerable<MovingPicturesV2.Models.GenreModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Genre List</h2>
		</div>
		<div class="col-6 text-end">
			<a class="btn btn-primary" asp-controller="Genre" asp-action="Create"><i class="bi bi-plus-circle"></i>&nbsp; Create New Genre</a>
		</div>
	</div>
	<br />
	<br />
	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Genre Name
				</th>
				<th>
					Display Order
				</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var obj in Model)
			{
				<tr>
					<td width="50%">
						@obj.Name
					</td>
					<td width="50%">
						@obj.DisplayOrder
					</td>
					<td>
						<div class="w-75 btn-group" role="group">
							<a class="btn btn-primary mx-2" asp-controller="Genre" asp-action="Edit" asp-route-id="@obj.Id"><i class="bi bi-pencil-square"></i>Edit</a>
						</div>
					</td>
					<td>
						<div class="w-75 btn-group" role="group">
							<a class="btn btn-danger mx-2" asp-controller="Genre" asp-action="Delete" asp-route-id="@obj.Id"><i class="bi bi-trash"></i>Delete</a>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
